
<h1>Showing selected notebook</h1>
<p>
	Title: <%= @notebook.title %>
</p>
<p>
	Description: <%= @notebook.description %>
</p>

<% @notebook.sections.each do |section| %>

 	<p>
		Title: <%= section.title %>
	</p>
	<p>
		Description: <%= section.description %>
	</p>
	<p>
		ID: <%= section.id %>
	</p>

	<p>
		<%= link_to 'Section', section_path(section.id) %>
	</p>

	
<% end %>

<%= link_to 'Edit', edit_notebook_path(@notebook) %>
<%= link_to 'Back', notebooks_path %>
