<h1>Listing all Articles</h1> 
<table>
	<tr>
		<th>Title</th>
		<th>Description</th>
	</tr>
	<tr><% @articles.each do |article| %></tr>
		<tr>
			<td><%= article.title %></td>
			<td><%= article.description %></td>

			<td><%= link_to 'Edit', [:edit, @articleInterface, article] %></td>
			<td><%= link_to  'Show', [@articleInterface, article] %></td>
			<td><%= link_to  'Delete', [@articleInterface, article],
				method: :delete, data: {confirm: "Are you sure you want to delete?"} %></td>
		</tr>
	<%end%>
</table>